<footer id="footer">
    <ul class="term_list clear">
        <li><a href="javascript:;">이용약관</a></li>
        <li><a href="javascript:;"><b class="colorfont2">개인정보처리방침</b></a></li>
        <li><a href="javascript:;">이메일무단수집거부 </a></li>
        <li><a href="javascript:;">저작권정책</a></li>
    </ul>
    <address>
        서울시 강남구 선릉로 602(삼성동 삼릉빌딩)   
        <span class="brline">
            <span class="num">대표전화 : 02-559-3972</span>
            <span class="num">팩스 : 02-552-2355</span>
        </span>
    </address>
    <p class="copyright">Copyright &copy; KOFAC. All Rights Reserved. Since 2013</p>			
</footer>

<p class="totop"><a href="javascript:;">TOP</a></p>
<!-- //totop -->

</div>
<!-- //wrap -->


</body>
</html>